@*@page "/CityEdit"*@
@page "/CityEdit/{CityId}"
@using CityBlazorApp.Pages
@*@inherits CityEdit*@

@using CityBlazor.Shared.Models

@if (!Saved)
{
    <section class="employee-edit">
        <h1 class="page-title">Details for @EditedCity.Name</h1>
        <EditForm Model="@City" OnValidSubmit="@HandleValidSubmit"
                  OnInvalidSubmit="@HandleInvalidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary></ValidationSummary>
            <div class="form-group row">
                <label for="Name" class="col-sm-3">Name: </label>
                <InputText id="Name" class="form-control col-sm-8" @bind-Value="@EditedCity.Name" placeholder="Enter name"></InputText>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => EditedCity.Name)" />
            </div>

            <div class="form-group row">
                <label for="Description" class="col-sm-3">First name: </label>
                <InputText id="Description" class="form-control col-sm-8" @bind-Value="@EditedCity.Description" placeholder="Enter description"></InputText>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => EditedCity.Description)" />
            </div>

            <div class="form-group row">
                <label for="country" class="col-sm-3">Country: </label>
                <InputSelect id="country" class="form-control col-sm-8" @bind-Value="@CountryId">
                    @foreach (var country in Countries)
                        {
                        <option value="@country.code">@country.name</option>
                        }
                </InputSelect>
            </div>

            
            <div class="form-group row">
                <label for="gender" class="col-sm-3">Capital?: </label>
                <InputSelect id="IsCapital" class="form-control col-sm-8" @bind-Value=@EditedCity.IsCapital>
                    <option value="@(Gender.Male)">Male</option>
                    <option value="@(Gender.Female)">Female</option>
                    <option value="@(Gender.Other)">Other</option>
                </InputSelect>
            </div>

            
            <div class="form-group row">
                <label for="RegistrationDate" class="col-sm-3">Registred on: </label>
                <InputDate id="RegistrationDate" class="form-control col-sm-8" @bind-Value="@EditedCity.RegistrationDate" placeholder="Enter registration date"></InputDate>
            </div>


            <button type="submit" class="btn btn-primary edit-btn">Save employee</button>

            @if (EditedCity.EmployeeId > 0)
            {
                <a class="btn btn-danger" @onclick="@DeleteEmployee">
                    Delete
                </a>
            }

            <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to overview</a>
        </EditForm>
    </section>

}
else
{
    <div class="alert @StatusClass">@Message</div>
}


